# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DJANGO_EXTRA_ALLOWED_HOSTS=allflex.docmed.uz,www.allflex.docmed.uz,allflex-ota0.onrender.com

# Render production:
# DJANGO_ALLOWED_HOSTS=allflex-ota0.onrender.com,allflex.docmed.uz,www.allflex.docmed.uz
# DJANGO_CSRF_TRUSTED_ORIGINS=https://allflex-ota0.onrender.com,https://allflex.docmed.uz,https://www.allflex.docmed.uz

# Click (https://my.click.uz — kabinetdan oling)
CLICK_MERCHANT_ID=
CLICK_SERVICE_ID=
CLICK_SECRET_KEY=

# Payme (https://merchant.paycom.uz — kabinetdan oling)
PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=

# Click callback URL (Click kabinetida ko'rsating):
# https://yourdomain.com/payment/click/
# Payme callback URL:
# https://yourdomain.com/payment/payme/
