# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
*.log

# Local secrets (faqat shular yuklanmaydi)
kinobase/config.py
pagekite.pem
pagekite.cfg

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# PageKite / local deploy
pagekite.py
*.bat

# Locust (dev only)
locustfile.py
