{% extends 'admin_panel/base.html' %}
{% load i18n %}
{% block title %}{% trans 'O\'chirish' %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{% trans 'Tadbirni o\'chirish' %}</h1>
</div>
<div class="panel-card" style="max-width:500px">
    <p style="color:#fff;margin-bottom:20px">«<strong>{{ event.title }}</strong>» {% trans 'o\'chirilsinmi?' %}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-admin btn-danger">{% trans 'Удалить' %}</button>
        <a href="{% url 'movie:admin_ticket_list' %}" class="btn-outline" style="margin-left:8px">{% trans 'Bekor' %}</a>
    </form>
</div>
{% endblock %}
